.listItem {
  width: 4rem;
  height: 4rem;
  transition: 300ms;
  border-radius: 10px;
}

.listItem:hover {
  background-color: #768a9648;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.active {
  background-color: #768a968f;
}

.linkContainer {
  text-decoration: none;
  color: var(--color-6);
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.linkContainer p {
  color: var(--color-6);
  font-size: 1.2rem;
}
