.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 4.5rem;
  background-color: var(--color-white);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navlist {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logout {
  position: fixed;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--error);
  font-size: 2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: 300ms;
}

.logout:hover {
  background-color: var(--color-transparent);
}
