.clockContainer {
  grid-area: 1 / 7 / 5 / 9;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.clock {
  width: 12rem;
  height: 12rem;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  background-color: var(--color-2);
}

.circle {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--color-6);
  position: absolute;
  z-index: 10;
}

.oclock {
  width: 6rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 600;

  border: 3px solid var(--color-6);
  color: var(--color-6);
  background-color: var(--color-2);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border-radius: 10px;
}
