.container {
  width: calc(100% - var(--admin-nav-width));
  height: 100vh;
  margin-left: var(--admin-nav-width);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.taskContainer {
  inset: 1rem;
  position: absolute;
}

/* border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
