@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

.container {
  position: absolute;
  top: 30vh;
  left: 10vw;
  color: var(--color-5);
  width: 40%;

  font-family: "Poppins", sans-serif;
}

.container p {
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0;
  position: absolute;
}

.bracket {
  width: 80%;
  height: 3px;
  background-color: black;
  display: block;
  position: absolute;
  top: 5rem;
}

.up {
  animation: up 1000ms 2200ms forwards;
}

.down {
  animation: down 1000ms 3000ms forwards;
}

.doubleUp {
  animation: up 1000ms 1000ms forwards, double-up 1000ms 2000ms forwards;
}

.grow {
  animation: grow 1000ms forwards;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes up {
  0% {
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes double-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-80%);
  }
}

@keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(30%);
  }
}
