.rdp {
  --rdp-cell-size: 60px;
  --rdp-caption-font-size: 1.5rem;
  --rdp-accent-color: var(--color-c-blue);
  --rdp-background-color: var(--color-transparent);
  --rdp-accent-color-dark: #3003e1;
  --rdp-background-color-dark: #180270;
  --rdp-outline: 2px solid var(--rdp-accent-color); /* Outline border for focused elements */
  --rdp-outline-selected: 3px solid var(--rdp-accent-color); /* Outline border for focused _and_ selected elements */

  margin: 1em;
}

.rdp-head_cell {
  vertical-align: middle;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  height: 100%;
  height: var(--rdp-cell-size);
  padding: 0;
  text-transform: uppercase;
}

.rdp-cell {
  width: var(--rdp-cell-size);
  height: 100%;
  height: var(--rdp-cell-size);
  padding: 0;
  text-align: center;
  font-size: 1.5em;
}
