.sortButton {
  display: flex;
  width: 6rem;
  height: 50%;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: 300ms;
  border-radius: 10px;
}

.sortButton:hover {
  background-color: rgba(255, 255, 255, 0.105);
}
