.container {
  padding: 1.5rem 1rem;
  transition: 300ms;
  position: relative;
}

.container:hover {
  background-color: var(--color-2);
}

.move {
  position: absolute;
  left: 1rem;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  opacity: 0;
  transition: 300ms;
  padding: 0.5rem 0;
}

.move span {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--color-5);
}

.tools {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  gap: 0.7rem;
  opacity: 0;
  transition: 300ms;
}

.tools span {
  font-size: 1.3rem;
  cursor: pointer;
  transition: 200ms;
}

.container:hover .move,
.container:hover .tools {
  opacity: 1;
}
