.container {
  width: calc(100% - var(--admin-nav-width));
  height: 100vh;
  margin-left: var(--admin-nav-width);
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.div1 {
  grid-area: 5 / 1 / 9 / 5;
}
.div2 {
  grid-area: 5 / 5 / 9 / 9;
}
.div3 {
  grid-area: 1 / 1 / 5 / 5;
}
.div4 {
  grid-area: 1 / 5 / 5 / 7;
}
.div5 {
  grid-area: 1 / 7 / 5 / 9;
}
