.blog {
  width: calc(100vw - (100vw - 100%));
  min-height: 100vh;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}

.posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5rem 10vw;
  gap: 1rem;
  background-color: var(--color-white);
  opacity: 0;
}

.imageContainer {
  flex: 1;
  opacity: 0;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideInLeft {
  animation: slide-in-left 800ms forwards;
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInRight {
  animation: slide-in-right 800ms 500ms forwards;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .imageContainer {
    display: none;
  }

  .posts {
    padding: 5vh 5vw;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .posts {
    padding: 5vh 5vw;
    gap: 0.5rem;
  }
}
