.container {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  grid-area: 4 / 1 / 11 / 7;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.charts {
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: relative;
}

.chartSlider {
  position: absolute;
  top: 0;
  left: 0;
  transition: 400ms;
  display: flex;
  height: 100%;
  width: 200%;
}

.control {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.controlButton {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 2px solid var(--color-5);
  cursor: pointer;
  transition: 300ms;
}

.controlButton:hover {
  background-color: var(--color-2);
}

.activeButton {
  background-color: var(--color-4);
}
