.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.2rem;
  transition: 300ms;
  text-decoration: none !important;
}

.primary {
  background-color: var(--color-6);
  color: var(--color-1);
  border: none;
  border-radius: 10px;
}

.primary:hover {
  background-color: var(--color-5);
  color: var(--color-2);
}

.outlined {
  color: var(--color-6);
  border: 2px solid var(--color-6);
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0);
}

.outlined:hover {
  color: var(--color-1);
  background-color: var(--color-6);
}

.ghost {
  color: var(--color-6);
  border: none;
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0);
}

.ghost:hover {
  background-color: rgba(135, 135, 135, 0.107);
}

.md {
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
}

.lg {
  width: 8.5rem;
  height: 4.5rem;
  font-size: 1.5rem;
}

.full {
  width: 100%;
  height: 3rem;
}

.half {
  width: 50%;
  height: 3rem;
}

.thqurters {
  width: 75%;
  height: 3rem;
}
