.container {
  width: 100%;
  height: 100vh;
  margin-top: 10vh;
  position: relative;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 10vh;
  padding: 10vh;
}

.imageContainer {
  grid-area: 1 / 1 / 8 / 3;
  background-color: antiquewhite;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.article {
  grid-area: 3 / 3 / 7 / 5;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

.who {
  position: absolute;
  top: 8rem;
  left: 25%;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-6);
  letter-spacing: 1.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 700px) {
}

@media (min-width: 701px) and (max-width: 1120px) {
}
