.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--color-white);
  transition: box-shadow 300ms;
  cursor: pointer;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 25px;
}

.imageContainer {
  grid-area: 1 / 1 / 6 / 6;
}

.name {
  grid-area: 6 / 1 / 7 / 6;
  display: grid;
  place-items: center;

  font-size: 1.5rem;
  font-weight: 700;

  color: var(--color-6);
}

.title {
  grid-area: 7 / 1 / 8 / 6;
  display: grid;
  place-items: center;

  font-size: 1.2rem;
  color: var(--color-5);
}
