.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--color-4);
  border-radius: 10px;
  gap: 0.5rem;
}

.listItem {
  color: var(--color-white);
  padding: 0.4rem 0.6rem;
  border-radius: 10px;
  transition: 300ms;
  outline: none;
  cursor: pointer;
}

.listItem:hover,
.listItem:active {
  background-color: rgba(255, 255, 255, 0.336);
}

.rowEdit {
  width: 50rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--color-3);
  max-height: 50vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
