:root {
  --nav-bar-lg: 6rem;
  --nav-bar-md: 6rem;
  --nav-bar-sm: 4rem;
  --admin-nav-width: 4.5rem;
  --main-padding: 0 10rem;

  --color-1: #e6e6e6;
  --color-1-h: #d6d6d6;
  --color-2: #dfebf6;
  --color-3: #aac7d8;
  --color-4: #768a96;
  --color-5: #44576d;
  --color-6: #29353c;

  --color-white: #fff;

  --color-c: #d97a14;

  --error: rgb(255, 94, 65);
  --warning: rgb(255, 220, 65);
  --info: rgb(65, 151, 255);
  --succsess: rgb(65, 255, 81);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
