.form {
  width: 50%;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.text {
  height: 8rem;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  resize: none;
}

/* Mobile */
@media (max-width: 700px) {
  .form {
    width: 90%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .form {
    width: 70%;
  }
}
