.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.container h2 {
  font-size: 2rem;
  color: var(--color-c);
}

.container p {
  color: var(--color-6);
  font-size: 1.2rem;
}
