.bars {
  font-size: 2rem;
  display: none;
  place-items: center;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  position: fixed;
  right: 2rem;
  top: 1.5rem;
}

@media (max-width: 700px) {
  .bars {
    font-size: 1.5rem;
    padding: 0.5rem 0.5 rem;
    right: 0.5rem;
    top: 0.7rem;
  }
}

@media (max-width: 1120px) {
  .bars {
    display: grid;
  }
}
