.container {
  border-radius: 10px;
  background-color: var(--color-white);
}

.table {
  border-collapse: collapse;
  position: relative;
  width: 100%;
}

.table td,
.table th {
  padding: 1rem;
  vertical-align: middle;
  text-align: left;
}

.tableHeader {
  border-bottom: 1px solid rgb(150, 150, 149);
  background-color: var(--color-5);
  color: var(--color-1);
  position: sticky;
  top: 0;
}

.row {
  border-bottom: 1px solid rgba(150, 150, 149, 0.6);
  transition: 300ms;
}

.row:hover {
  background-color: rgb(255, 248, 236);
}

.light {
  background-color: #dfebf690;
}

.dark {
  background-color: var(--color-2);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.sortButton {
  display: flex;
  width: 6rem;
  height: 50%;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: 300ms;
  border-radius: 10px;
}

.sortButton:hover {
  background-color: rgba(255, 255, 255, 0.105);
}

.headerCell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 10px;
  transition: 300ms;
}

.icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.search {
  width: 15rem;
  height: 3rem;
  background-color: var(--color-4);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.search input {
  width: 90%;
  height: 50%;
  padding: 0.2rem;
  outline: none;
}

.cell {
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
