.blog {
  width: 100%;
  height: 100vh;

  display: flex;
}

.posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5vh 10vw;
}

.imageContainer {
  flex: 1;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
