.blog {
  width: 100%;
  height: 100vh;

  display: flex;
}

.posts {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  gap: 1rem;
}

.imageContainer {
  flex: 1;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile */
@media (max-width: 700px) {
  .imageContainer {
    display: none;
  }

  .posts {
    padding: 5vh 5vw;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .posts {
    padding: 5vh 5vw;
  }
}
