.settingButton {
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: var(--color-5);
  background-color: var(--color-white);
  cursor: pointer;
  border: none;
}
