.footer {
  width: 100%;
  min-height: 30rem;
  background-color: var(--color-6);
  display: flex;
  padding: 0 4rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  gap: 4rem;
  position: relative;
  flex-wrap: wrap;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0;
}

.copyright {
  position: absolute;
  color: var(--color-1);
  bottom: 1rem;
  font-size: 0.8rem;
}

/* Mobile */
@media (max-width: 700px) {
  .footer {
    padding: 0 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    gap: 2rem;
  }

  .container {
    gap: 1rem;
    padding: 2rem 0;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .footer {
    padding: 0 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    gap: 3rem;
  }

  .container {
    gap: 1.5rem;
    padding: 3rem 0;
  }
}
