.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  min-width: 350px;
  max-width: 500px;
  flex-grow: none;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 1rem 0;
  gap: 1rem;
}

.list p {
  font-size: 1.2rem;
  color: var(--color-1);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-1);
  font-size: 1rem;
  transition: 300ms;
}

.list a:hover {
  color: var(--color-3);
}

.listHeader {
  border-bottom: 3px solid var(--color-1);
  font-size: 2rem;
  color: var(--color-1);
  font-weight: 600;
  padding: 1rem 0;
}

/* Mobile */
@media (max-width: 700px) {
  .list p {
    font-size: 0.8rem;
  }

  .list a {
    font-size: 0.8rem;
  }

  .listHeader {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .list p {
    font-size: 1rem;
  }

  .list a {
    font-size: 0.9rem;
  }

  .listHeader {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
