.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-1);
}

.header {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 30%;
  height: 15%;
  border-radius: 10px;
  color: var(--color-1);
  background-color: var(--color-5);
  display: flex;
  align-items: center;
  justify-content: center;
}
