.formPage {
  width: 80%;
  height: 37rem;
  display: flex;
  gap: 10%;
}

.form {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.form a {
  text-decoration: none;
  color: var(--color-5);
}

.form button {
  width: 40%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--color-1);
  border: 2px solid var(--color-6);
  color: var(--color-6);
  border-radius: 10px;
  font-size: 0.9rem;
  transition: 300ms;
}

.form button:hover {
  background-color: var(--color-6);
  color: var(--color-1);
}

.form button span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.form header {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-6);
}

.redirect {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.redirect h1 {
  text-align: center;
}

.redirect button {
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--color-6);
  color: var(--color-1);
  border-radius: 10px;
  font-size: 0.9rem;
  border: none;
  transition: 300ms;
}

.redirect button:hover {
  background-color: var(--color-5);
}
