.container {
  width: 50%;
  margin: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

.empty {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: -5px;
  color: var(--color-transparent);
  pointer-events: none;
}
