.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: fixed;
  right: 2.5rem;
  bottom: 8rem;
}
