.container {
  grid-area: 5 / 5 / 9 / 9;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--color-5);
  color: var(--color-1);
  border-radius: 20px;
  font-weight: 500;
  padding: 1rem;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  gap: 0.5rem;
  background-color: var(--color-5);
  color: var(--color-1);
  border-radius: 20px;
  font-weight: 500;
  padding: 1rem;
}

.caption {
  color: var(--color-c);
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.body {
  width: 100%;
  height: 80%;

  display: flex;
  gap: 1rem;
}

.person {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  flex: 1;
}

.message {
  color: var(--color-6);
  background-color: var(--color-2);
  padding: 1rem 2rem;
  border-radius: 20px;
  overflow: auto;
  flex: 1;
}

.credentials {
  background-color: var(--color-2);
  border-radius: 20px;
  font-weight: 500;
  padding: 1rem;
  color: var(--color-6);
  display: flex;
  gap: 0.5rem;
}
