.wrapper {
  width: calc(100vw - (100vw - 100%));
  min-height: calc(100vh - var(--nav-bar-lg));
  background-color: var(--color-1);
  margin-top: var(--nav-bar-lg);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Mobile */
@media (max-width: 700px) {
  .wrapper {
    margin-top: var(--nav-bar-sm);
    min-height: calc(100vh - var(--nav-bar-sm));
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .wrapper {
    margin-top: var(--nav-bar-md);
    min-height: calc(100vh - var(--nav-bar-md));
  }
}
